.part1 {
    background-image: url(image/donate13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.color {
    color: chartreuse;
}

.color1 {
    color: gold;
}

.half-width {
    width: 80%;
    padding: 70px;
    text-align: justify;
    font-size: 20px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 0px 50px;
    color: black;
    font-size: 500;
    border-radius: 10px;
}

.amount {
    color: blue;
}

section {
    display: flex;
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.flexible {
    display: flex;
    text-align: justify;
}

.back-color {
    background-color: yellowgreen;
}

.BC {
    color: black;
}

.Back_color {
    background-color: black;
}

.text-color {
    color: aliceblue;
}